Apache error: request without hostname

When I try it on my apache which has passenger on it, I get this error from apache log:

```
client sent HTTP/1.1 request without hostname (see RFC2616 section 14.23): GET
```
